* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: brown;
}

.wrapper {
  height: 400px;
  width: 400px;
  background-color: #f8f4f4;
  border-radius: 10px;
  padding: 10px;
}

.cards {
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between !important;
}

.cards,
.card,
.view {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card .back-view img {
  max-width: 45px !important;
}

.cards .card {
  position: relative;
  perspective: 800px;
  transform-style: preserve-3d;
  cursor: pointer;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}

.card .front-view span {
  font-size: 43px;
  color: brown;
}

.card .back-view {
  /* transform: rotateY(-180deg) !important; */
}

.cards .card .view {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
}
